

@import url('cart-table.css');
@import url('navbar.css');
@import url('root_and_set.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

body {
	margin: 0;
	padding: 0;
}


/* --------------------------------------- main catalog --------------------------------------- */
.main-catalog {
	width: 100%;
	overflow: hidden;
	background: var(--bgColor1);
}
.catalog {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: var(--bgColor1);
	color: var(--textColor2);
	padding: 40px 60px 60px;
}
.cata-box {
	display: flex;
	margin: auto;
	position: relative;
}
.cata-left {
	position: relative;
	flex: 1;
	margin-right: 25px;
	max-height: 80vh;
}
.cata-slide {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 8px;
}
.cata-slide img {
	position: absolute;
	clip-path: circle(0% at 50% 100%);
}
.cata-slide img.onSlide {
	clip-path: circle(130% at 50% 100%);
	transition: all 1.5s ease-in-out;
	animation: zoom 10s linear forwards;
}
@keyframes zoom {
	to {
		transform: scale(1.1);
	}
}
.cata-left .cata-slide .cata-slide-btn{
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.cata-slide .cata-slide-btn span{
	background-color: var(--bgColor2);
	height: 10px;
	width: 10px;
	border-radius: 100%;
	margin: 2px 5px;
	cursor: pointer;
}
.cata-slide .cata-slide-btn span.onSlide{
	background-color: var(--bgColor1);
	height: 12px;
	width: 12px;
	box-shadow: var(--boxShadow1);
	transition: all .4s ease-in-out;
	border: 1px solid white;
}
.cata-right {
	flex: 1;
	min-height: calc(100vh - 140px);
	margin-left: 25px;
}
.cata-right h2 {
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	margin: 0 0 25px;
	color: var(--textColor2);
}
.cata-right h2 span {
	max-width: 50%;
	text-align: left;
}
.cata-right .prod-detail .table-detail {
  color: white;
}
#ukuran {
	display: flex;
	align-items: center;
}
#ukuran span {
	display: flex;
	align-items: center;
	margin: auto 2px;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 15px;
	font-weight: bolder;
}
.cata-right .prod-detail .cart {
	display: flex;
	margin: 20px 0 2px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.cata-right .prod-detail .cart button {
	background: var(--bgColor1);
	color: var(--textColor2);
	border-color: var(--textColor2);
	display: block;
}
.cata-right .prod-detail .cart .jumlah {
	background: var(--bgColor2);
	border: 2px solid gray;
	display: none;
	color: var(--textColor1);
}
.cata-right .prod-detail .cart button, .cata-right .prod-detail .cart .jumlah {
	border-radius: 5px;
	padding: 7px 20px;
	margin: 0 5px;
	font-weight: bold;
}
.cata-right .prod-detail .cart .jumlah i{
	cursor: pointer;
}
.cata-right .prod-detail label.total{
	font-size: 11px;
	margin: 6px auto;
	width: 100%;
	text-align: center;
	display: none;
	color: var(--textColor2);
}
.cata-right .prod-detail p.detail-warning {
	text-align: center;
	font-size: var(--textSize1);
	color: var(--textColor2);
}
.cata-right .prod-detail a.order-one {
	padding: 0;
	margin: 4px auto 0;
	text-align: center;
	border-radius: 5px;
	border-color: silver;
	display: block;
	font-size: 12px;
	text-decoration: underline !important;
	color: var(--textColor2);
}
.cata-right .deskripsi {
	position: relative;
	color: var(--textColor2);
}
.cata-right .deskripsi p{
	text-align: justify;
	text-indent: 30px;
	font-size: var(--textSize1);
}












