
@media (max-width: 850px) {
	.nav-left, #checkbtn { 
		display: block;
	}
	.navbar #nav-menu {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		position: absolute;
		height: 100vh;
		background: rgba(0, 0, 0, .5);
		backdrop-filter: blur(9px);
		width: 100%;
		padding: 15px;
		top: 100%;
		left: -110%;
		transition: left .4s ease-in-out;
	}
	.navbar #nav-menu li.nav-list {
		padding: 5px;
		margin: 5px 0;
		display: flex;
		justify-content: flex-start;
	}
	.navbar #nav-menu li.nav-list a.nav-list-link {
		color: white;
		text-transform: uppercase;
	}
	.navbar #nav-menu li.nav-page {
		align-items: flex-start;
		flex-direction: column;
		margin: 25px 20px;
	}
	.navbar #nav-menu li.nav-page a {
		display: block;
		padding: 2px 7px;
		color: white;
		margin: 5px;
		font-size: 18px;

	}
	.nav-close {
		display: block;
		margin: 50px auto;
		color: white;
	}
	#check:checked ~ ul#nav-menu {
		left: -10px;
	}
	.navbar .nav-fitur {
		min-width: 60px;
		margin: auto 0;
		padding: 0;
		justify-content: flex-end;
	}
	.navbar .nav-fitur label{
		margin: 0;
	}
	.navbar .nav-fitur i{
		font-size: var(--textSize2);
		margin: 0 4px;
	}
	.navbar .nav-fitur i .count{
		font-size: var(--textSize2);
	}

}


@media (max-width: 800px) {
h1 {
	font-size: 25px;
}

/* -------------------------------------- slide show -------------------------------------- */
	header .slide-show {	
		height: 60vh;
	}
	.slide-show .slide .slideText {
		top: 15px;
		padding: 5px 10px;
		width: 65%;
	}
	.slide-show .slide .slideText h2 {
		font-weight: 400;
		letter-spacing: 0;
		margin: 0;
		padding: 2px;
		font-size: 15px;
	}
	.slide-show .slide .slideText p {
		font-size: 11px;
		margin: auto;
		text-align: left;
	}
	.slide-show .slide .slideText a {
		font-size: 10px;
		padding: 2px 5px;
	}
	.slide-show .navigasi {
		bottom: 12px;
	}
	.slide-show .navigasi .slTombol {
		margin: 3px;
		font-size: 11px;
		padding: 3px 6px;
	}
	.slide-show .navigasi .slTombol.slideOn {
	  box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	}


/* -------------------------------------- produk --------------------------------------*/
	.produk {
		padding: 60px 0 25px;
	}
	.produk h1 {
		width: max-content;
		padding: 8px 25px;
	}
	.produk .produk-box {
		padding: 5px;
	}
	.produk .produk-box .produk-headings p {
		text-align: center;
		margin: 5px 0;
		font-size: 13px;
		padding: 0;
	}
	.produk .produk-box .produk-kontrol .produk-search {
		margin: 10px auto;
	}
	.produk .produk-box .produk-kontrol .produk-search input {
		padding: 5px 27px 5px 15px;
		font-size: 13px;
	}
	.produk .produk-box .produk-kontrol .produk-search input:hover {
		width: 200px;
	}
	.produk .produk-box .produk-kontrol .produk-search input.active {
		width: 200px;
	}
	.produk .produk-box .produk-kontrol .produk-search i {
		font-size: 12px;
		right: 10px;
	}
	.produk .produk-box .produk-kontrol .produk-tabs {
		margin-bottom: 0px;
	}

	.produk-content {
		margin: 0;
		padding: 10px 0;
	}





/* -------------------------------------- produk card -------------------------------------- */
	.prod-card {
		margin: 15px 5px;
	}
	.prod-card .prod-card-box .prod-desc .prod-add span {
	  font-size: var(--textSize3);
	}





/* -------------------------------------- kontak dan lokasi -------------------------------------- */
	.kontak .kontak-box {
		margin: 0;
		padding: 60px 0 20px;
	}
	.kontak .kontak-box .kontak-head h1 {
		width: max-content;
		padding: 8px 25px;
	}
	.kontak .kontak-box .kontak-head p {
		margin: 15px;
		text-align: justify;
		font-size: var(--textSize2);
	}
	.kontak .kontak-box .kontak-list {
		padding: 0;
	}
	.kontak .kontak-box .kontak-list .kontak-numbar {
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	.kontak .kontak-box .kontak-list .kontak-numbar button {
		margin: 10px auto;
		text-align: center;
	}
	.kontak .kontak-box .kontak-list .kontak-numbar button a img {
	  	left: -10px;
	  	top: -4px;
	}
	.kontak .kontak-box .kontak-list .kontak-numbar button a {
		color: white;
		font-weight: initial;
	}
	.kontak .kontak-box .kontak-list .kontak-label {
		margin: 5px auto;
		width: auto;
	  	padding: 10px;
	}
	.kontak .kontak-box .kontak-list .kontak-label label {
	  	font-size: var(--textSize2);
	  	font-weight: initial;
		margin: 5px 0;
	}
	.kontak .kontak-box .kontak-list .kontak-label label a i {
		box-shadow: none;
	}
	.kontak .kontak-box .kontak-list .kontak-label label a span {
		margin-left: 5px;
	}




/* -------------------------------------- footer -------------------------------------- */
	.footer .footer-box {
		margin: 0 10px;
		flex-direction: column;
	}
	.footer .footer-box .footer-content {
		padding: 3px;
		margin: 0;
		font-size: 13px;
	}



/* --------------------------------------- main catalog --------------------------------------- */
	.main-catalog {
		height: auto;
		padding: 0;
	}
	.catalog {
		padding: 0;
		margin: 0;
	}
	.cata-box {
	flex-direction: column;
	}
	.cata-left {
		height: 400px;
		padding: 0;
		margin: 0;
	}
	.cata-slide {
	border-radius: 0;
	}
	.cata-slide img {
		position: absolute;
	}
	.cata-right {
		margin: 0 10px;
		min-height: 0;
	}
	.cata-right h2 {
		font-size: 18px;
		padding: 0;
		margin: 10px auto;
	}
	.cata-right h2 span {
		max-width: 100%;
	}
	.cata-right .deskripsi {
		position: relative;
	}
	.cata-right .deskripsi p{
		font-size: 13px;
	}

		









/* ------------------------------------------------ order ------------------------------------------------ */
	.body-box {
		min-height: 100vh;
		background: linear-gradient(45deg, #123, black);
		padding: 0;
	}
	nav.navbar {
		border-radius: 0;
	}
	.nav-bottom {
		margin-bottom: 0;
	}
	.container {
		flex-direction: column;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
		height: auto;
	}
	.form-order {
		width: 100%;
		margin: 0;
	}
	.form-group label{
		width: auto;
		flex: 1;
	}
	.form-group .input-main, .form-group textarea {
		height: auto;
		flex: 3;
	}

	.form-alert {
		font-size: 10px;
	}
	.form-order .order-submit .agree input[type=checkbox] {
		transform: scale(.8);
	}
	.form-order .order-submit .agree label{
		font-size: 11px;
	}
	.form-order .order-submit .agree label.ket{
		font-size: 10px;
	}
	.form-order .order-submit button{
		padding: 6px 16px;
		margin: 10px auto;
		font-size: 17px;
	}
	.form-order p.order-text {
		margin: 15px auto;
	}
	.form-order p.order-ket {
		margin: 15px auto;
		font-size: 11px;
	}
	.to-wa {
		padding: 15px;
	}
	.to-wa p {
		width: 300px;
		padding-bottom: 5px;
		margin: 0;
		font-size: 14px;
	}

	.cart{
		overflow: hidden;
		max-height: none;
		height: 100%;
	}

}

@media (max-width: 650px) {
	h1.header  {
		padding: 1px 10px;
		font-size: 20px;
		text-align: center;
	}
	.produk .produk-box h1 {
		width: 200px;
	}
	.kontak .kontak-box h1 {
		width: 200px;
	}
}


@media (max-width: 550px) {

	.navbar .nav-fitur {
		width: 80px;
	}
	.navbar .nav-fitur i {
		cursor: pointer;
		font-size: 12px;
	}
	.navbar .nav-fitur i span {
		font-size: 13px;
	}
	.detail-nav-fitur {
		font-size: 12px;
	}
	.detail-nav-fitur span {
		margin: 0 3px;
	}
	.navbar .order-left {
		display: flex;
		align-items: center;
		font-size: 12px;
	}
	.navbar .order-left i {
		font-size: 11px;
		height: 14px; 
		width: 14px;
	}
	.navbar h3.order-heading {
		font-size: 12px;
	}
	.navbar label.order-to-home a {
		font-size: 12px;
	}
	.navbar label.order-to-home a i {
		color: #123;
	}

	h3.detail-heading {
		font-size: 13px;
	}

	.produk .produk-box .produk-kontrol .produk-tabs .tabs-group {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, auto);
		grid-gap: 5px;
	}
	.prod-menu {
		margin: 0;
		padding: 4px 0;
		min-width: 80px;
	}
	.prod-menu span {
		font-size: var(--textSize3);
		padding: 5px 10px;
		margin-left: 3px;
	}
	.prod-menu i.menu-arrow {
		height: 18px;
		width: 18px;
		font-size: 10px;
		padding: 0;
		margin: 0;
	}
	.prod-menu i.menu-arrow:hover {
		background-color: transparent;
		color:darkcyan;
	}
	.prod-menu i.menu-arrow.active {
		transform: rotate(90deg);
		background-color: darkcyan;
		color:white;
		border: none;
	}
	.prod-menu .prod-menu-ul {
		padding: 4px;
		width: 130%;
		margin: 0;
		top: 125%;
	}
	.prod-menu .prod-menu-ul .prod-menu-list {
		margin: 5px auto;
		padding: 2px 2px 2px 18px;
		font-size: var(--textSize2);
	}
	.prod-menu .prod-menu-ul .prod-menu-list.active {
		font-size: var(--textSize2);
	}
	.prod-menu .prod-menu-ul .prod-menu-list i {
		left: -3px;
		height: 18px;
		width: 18px;
		font-size: var(--textSize2);
	}
	.prod-menu .prod-menu-ul .sub-menu {
		margin: 1.5px 0 1.5px 11px;
	}
	.prod-menu .prod-menu-ul .sub-menu li {
		margin: 1.5px auto;
		padding: 1.5px 0 1.5px 7px;
		font-size: 13px;
	}


}
